doctype html
html
head
    script(src="/js/jquery-3.2.1.min.js")
    script(src="/js/bootstrap.min.js")
    title Projeto do Caio
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap-aux.css')
body
    div(class="container")
        if isLogged
            div(class="masthead")
                h3(class="text-muted") Bem vindo #{session.nome} !
                include partials/menu.jade
        block content

        if isLogged
            include partials/footer.jade

    block scripts