extends ../layout

block content
	div(class="jumbotron")
		h1 Nodejs
		p(class="lead") Melhor site para voçê , muito intuitivo e fácil de se usar. Utilizamos a melhores tecnologias para seu conforto e bem estar, é só confiar, Vem!
		p
			a(class="btn btn-lg btn-success" href="http://www.nodejs.org" target="_blank" role="button") Acessar o site